<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <% if(locals.user){ %>
        <li><a href="/story">Create a Story</a></li>
        <li><a href="/logout">Log Out</a></li>
        <% } else{ %>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>
