<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <% include partials/nav.ejs%>
        <div class="content">
            <h1>Welcome to <%= title %></h1>
            <p>Share your stories with the world!</p>
        </div>
    </body>
</html>
