<% include partials/header.ejs %>
<form>
    <label for="email">
        User Name
        <input type="email" name="email" id="email" />
    </label>
    <div class="error" id="email-error"></div>
    <label for="password">
        Password
        <input type="password" name="password" id="password" />
    </label>
    <div class="error" id="password-error"></div>
    <button type="submit">Login</button>
</form>
<script type="text/javascript" src="/javascripts/login.js"></script>
<% include partials/footer.ejs %>
