<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./stylesheets/style.css" />
        <title><%= title%></title>
    </head>
    <body>
        <%include partials/nav.ejs %>
        <form action="/login" method="post">
            <label for="username">
                User Name
                <input type="text" name="username" id="username" />
            </label>
            <label for="password">
                Password
                <input type="text" name="password" id="password" />
            </label>
            <input type="submit" value="login" />
        </form>
    </body>
</html>
