<%include partials/header.ejs%>
<form>
    <label for="firstname">
        First Name
        <input type="text" name="firstname" id="firstname" />
    </label>
    <div class="error" id="firstname-error"></div>
    <label for="lastname">
        Last Name
        <input type="text" name="lastname" id="lastname" />
    </label>
    <div class="error" id="lastname-error"></div>
    <label for="email">
        Email
        <input type="email" name="email" id="email" />
    </label>
    <div class="error" id="email-error"></div>
    <label for="password">
        Password
        <input type="password" name="password" id="password" />
    </label>
    <div class="error" id="password-error"></div>
    <label for="confirm">
        Confirm Password
        <input type="password" name="confirm" id="confirm" />
    </label>
    <div class="error" id="confirm-error"></div>
    <button type="submit">Sign Up</button>
</form>
<script type="text/javascript" src="/javascripts/signUp.js"></script>
<% include partials/footer.ejs %>
