<% include partials/header %>
<form>
    <label for="topic">
        Topic
        <input type="text" name="topic" id="topic" />
    </label>
    <div class="error" id="topic-error"></div>
    <label for="story"> Your Story </label>
    <textarea rows="4" cols="50" class="story" id="story"></textarea>
    <div class="error" id="story-error"></div>
    <button type="submit">Submit</button>
</form>

<script type="text/javascript" src="/javascripts/postStory.js"></script>

<% include partials/footer %>
